/* Authenticate.css */
.formSection {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: calc(100vh - 50px);
}

#password,
#email {
  width: 100%;
  /* height: 40%; */
}

.authForm,
.autoForm {
  width: 240px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 15px;
  border-top: 4px solid;

  border-image: linear-gradient(
    to right,
    var(--bright-green) 0%,
    var(--bright-green) 25%,
    var(--bright-red) 25%,
    var(--bright-red) 50%,
    var(--bright-yellow) 50%,
    var(--bright-yellow) 75%,
    var(--bright-blue) 75%,
    var(--bright-blue) 100%
  );
  border-image-slice: 1;
}

.formItem {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 5px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.small {
  margin-bottom: 5px;
}

.medium {
  margin-bottom: 15px;
}

.big {
  margin-bottom: 40px;
}

.sign_in,
.create_player,
.new_player,
.return_user {
  cursor: pointer;
  padding: 5px 8px;
  border-radius: 5px;
  width: auto;
  background-color: var(--dim-green);
  color: orange;
  border: none;
  width: 100px;
}

.sign_in {
  cursor: pointer;
  background-color: var(--bright-green);
  color: var(--bright-yellow);
}

.sign_in:hover {
  background-color: var(--press-green);
}

.sign_in:active {
  background-color: var(--dim-green);
}

.new_player {
  background-color: var(--bright-blue);
}

.new_player:hover {
  background-color: var(--press-blue);
}

.new_player:active {
  background-color: var(--dim-blue);
}

.return_user {
  cursor: pointer;
  background-color: var(--bright-red);
  color: var(--bright-blue);
}

.return_user:hover {
  background-color: var(--press-red);
}

.return_user:active {
  background-color: var(--dim-red);
}

.create_player {
  cursor: pointer;
  background-color: var(--bright-yellow);
  color: var(--bright-blue);
}

.create_player:hover {
  background-color: var(--dim-yellow);
}

.create_player:active {
  background-color: var(--press-yellow);
}

.simonLogo {
  width: 20%;
  margin-bottom: 15px;
}

.errMsg {
  width: 260px;
  height: 20px;
  display: flex;
  justify-content: center;
  transform: translate(0px, 0px);
}
