Link,
li {
  cursor: pointer;
}

.navbar {
  width: 100%;
  height: 50px;
  background-color: fuchsia;
  position: fixed;
  top: 0;
  color: navy;
  padding-left: 50px;
  display: flex;
  align-items: center;
}

.navList {
  display: flex;
  gap: 20px;
}

.navElement {
  cursor: pointer;
  list-style-type: none;
}
