@import url("https://fonts.googleapis.com/css2?family=Megrim&family=Silkscreen:wght@400;700&family=Unica+One&family=VT323&family=Walter+Turncoat&display=swap");

:root {
  --dim-red: #ff000080;
  --dim-yellow: #ffff0080;
  --dim-blue: #6666ff80;
  --dim-green: #00ff0080;
  --bright-red: #ff0000;
  --bright-yellow: #ffff00;
  --bright-blue: #6666ff;
  --bright-green: #00ff00;
  --press-red: #ff8080;
  --press-yellow: #ffff80;
  --press-blue: #b7b7ff;
  --press-green: #80ff80;

  --walter-turncoat-regular: "Walter Turncoat";
  --megrim-regular: "Megrim";
  --silkscreen-regular: "Silkscreen";
  --unica-one-regular: "Unica One";
  --vt323-regular: "VT323";
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  caret-color: transparent;
  font-family: var(--unica-one-regular), sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  margin-top: 50px;
  width: 100%;
  height: calc(100vh - 50px);
  background-color: orange;
}

input {
  width: 100%;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  padding: 5px 8px;
  border-radius: 3px;
  caret-shape: bar;
  caret-color: black;
  /* font-weight: 900; */
  font-size: 1.25em;
}

button {
  border: none;
  outline: none;
}

.inputRed {
  background-color: var(--press-red);
  color: var(--dim-blue);
  border: 1px solid var(--press-green);
}

.inputRed:focus,
.inputRed:focus::placeholder {
  background-color: var(--bright-red);
  color: var(--bright-blue);
}

.inputRed::placeholder {
  color: var(--press-blue);
}

.inputYellow {
  background-color: var(--press-yellow);
  border: 1px solid var(--press-green);
  color: var(--dim-red);
}

.inputYellow:focus,
.inputYellow:focus::placeholder {
  background-color: var(--bright-yellow);
  color: var(--bright-green);
}

.inputYellow::placeholder {
  color: var(--press-red);
}

.inputBlue {
  background-color: var(--press-blue);
  border: 1px solid var(--dim-blue);

  color: var(--dim-yellow);
}

.inputBlue:focus,
.inputBlue:focus::placeholder {
  background-color: var(--bright-blue);
  color: var(--bright-yellow);
}

.inputBlue::placeholder {
  color: var(--press-red);
}

.inputGreen {
  background-color: var(--press-green);
  border: 1px solid var(--bright-green);

  color: var(--dim-red);
}

.inputGreen:focus,
.inputGreen:focus::placeholder {
  background-color: var(--bright-green);
  color: var(--bright-red);
}

.inputGreen::placeholder {
  color: var(--press-yellow);
}
