@import url("https://fonts.googleapis.com/css2?family=Megrim&family=Silkscreen:wght@400;700&family=Unica+One&family=VT323&family=Walter+Turncoat&display=swap");

:root {
  --dim-red: #ff000080;
  --dim-yellow: #ffff0080;
  --dim-blue: #6666ff80;
  --dim-green: #00ff0080;
  --bright-red: #ff0000;
  --bright-yellow: #ffff00;
  --bright-blue: #6666ff;
  --bright-green: #00ff00;
  --press-red: #ff8080;
  --press-yellow: #ffff80;
  --press-blue: #b7b7ff;
  --press-green: #80ff80;

  --walter-turncoat-regular: "Walter Turncoat";
  --megrim-regular: "Megrim";
  --silkscreen-regular: "Silkscreen";
  --unica-one-regular: "Unica One";
  --vt323-regular: "VT323";
}

/* 


.silkscreen-bold {
  font-family: "Silkscreen", sans-serif;
  font-weight: 700;
  font-style: normal;
}

*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  caret-color: transparent;
  font-family: var(--unica-one-regular), sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  margin-top: 50px;
  width: 100%;
  height: calc(100vh - 50px);
  background-color: orange;
}
