.navbar {
  width: 100%;
  height: 50px;
  background-color: fuchsia;
  position: fixed;
  top: 0;
  color: navy;
  padding-left: 50px;
  display: flex;
  align-items: center;
}

.navList {
  cursor: pointer;
  display: flex;
  gap: 20px;
}

.navElement {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.linkTo {
  display: flex;
  background-color: rgba(0, 255, 0, 0.2);
  font-size: 150%;
  text-decoration: none;
}

.linkTo:hover {
  color: var(--bright-green);
}
