/* SimonStatus.css */
.auth-div {
  display: flex;
  gap: 20px;
  text-decoration: none;
}

.nav-style {
  text-decoration: none;
}

.nav-style {
  cursor: pointer;
  color: var(--bright-blue);
}

.nav-style:hover {
  color: var(--bright-green);
}

.nav-style:active {
  color: var(--bright-red);
}
