/* HighScores.css */

.topScoresSection {
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topScoresContainer {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.scoresTitle {
  font-size: 3em;
  font-weight: 900;
  width: 60%;
  text-align: center;
  border-bottom: 4px solid;

  border-image: linear-gradient(
    to right,
    var(--bright-green) 0%,
    var(--bright-green) 25%,
    var(--bright-red) 25%,
    var(--bright-red) 50%,
    var(--bright-yellow) 50%,
    var(--bright-yellow) 75%,
    var(--bright-blue) 75%,
    var(--bright-blue) 100%
  );
  border-image-slice: 1;
  padding-bottom: 10px;
  color: var(--bright-yellow);
}

.text3d {
  text-shadow: -1px -1px 1px var(--bright-blue),
    -2px -2px 1px var(--bright-blue), -3px -3px 1px var(--bright-blue),
    -4px -4px 1px var(--bright-blue), -5px -5px 1px var(--bright-red),
    -6px -6px 1px var(--bright-red), -7px -7px 1px var(--bright-red),
    -8px -8px 1px var(--bright-red), -8px -8px 1px var(--bright-green),
    -9px -9px 1px var(--bright-green), -10px -10px 1px var(--bright-green),
    -11px -11px 1px var(--bright-green), -1px 1px 1px var(--bright-blue),
    1px -1px 1px var(--bright-blue), 1px 1px 1px var(--bright-blue);
}

.scoreRow {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 5px 20px;
  background-color: var(--bright-blue);
  color: orange;
  /* color: var(--bright-yellow); */
}

.scoreRow:nth-child(odd) {
  background-color: orange;
  color: var(--bright-blue);
  /* color: var(--bright-green); */
}

.scoreRow:first-of-type {
  /* padding-top: 15px; */
  margin-top: 25px;
}

.topScoreName,
.topScorePoints {
  font-size: 2em;
  font-weight: 900;
}

.backToSimon {
  margin-top: 3vh;
  cursor: pointer;
  background-color: var(--bright-green);
  min-height: 10%;
  width: 15%;
  border: none;
  border-radius: 3px;
  font-size: 3vh;
  color: var(--bright-red);
  /* color: orange; */
}

.backToSimon:hover {
  background-color: var(--bright-blue);
  color: var(--bright-yellow);
}

.backToSimon:active {
  background-color: var(--bright-red);
  color: var(--bright-green);
}
