.main-section {
    min-width: 100%;
    height: 100vh;
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: center;
}

.simon-body {
    border-radius: 50%;
    height: 750px;
    width: 750px;
    background-color: #111111;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap: 30px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.game-button {
    min-height: 325px;
    max-width: 325px;
    max-height: 325px;
    min-width: 325px;
    z-index: 1;
    cursor: pointer
}

.yellow {
    border-top-left-radius: 1000%;
    border-bottom-left-radius: 15%;
    border-top-right-radius: 15%;
    background-color: var(--dim-yellow)
}

.yellow:hover {
    background-color: var(--bright-yellow);
}

.yellow:active {
    background-color: var(--press-yellow);
}

.red {
    border-top-right-radius: 1000%;
    background-color: var(--dim-red);
    border-bottom-right-radius: 15%;
    border-top-left-radius: 15%;
}

.red:hover {
    background-color: var(--bright-red);
}

.red:active {
    background-color: var(--press-red);
}

.blue {
    border-bottom-left-radius: 1000%;
    background-color: var(--dim-blue);
    border-top-left-radius: 15%;
    border-bottom-right-radius: 15%;
}

.blue:hover {
    background-color: var(--bright-blue);
}

.blue:active {
    background-color: var(--press-blue);
}

.green {
    border-bottom-right-radius: 1000%;
    background-color: var(--dim-green);
    border-bottom-left-radius: 15%;
    border-top-right-radius: 15%;
}

.green:hover {
    background-color: var(--bright-green);
}

.green:active {
    background-color: var(--press-green);
}

.center {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background-color: #111111;
    z-index: 2;
}